* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-primary-color: #BBDEFB;
  --primary-color: #2196F3;
  --dark-primary-color: #1976D2;
  --text-icons-color: #fff;
  --accent-color: #03A9f4;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-text-color: #BDBDBD;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: #e5e5e5;
  margin: 0 32px;
  
  .modal-wrapper.hidden {
    display: none;
  }

  .active-modal {
    display: block;
    background-color: #000000ad;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
  }

  .main-header {
    text-align: center;
    padding: 16px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--primary-text-color);
  }

  .section-title {
    text-align: center;
    margin-bottom: 15px;      
  }

  .product-section {

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 600px;
      margin: 0 auto;
      border-spacing: 0 8px;

      
      li {
        margin-bottom: 10px;
        text-align: left;
        background-color: var(--text-icons-color);
        padding: 16px 32px;
        width: 100%;
        border-radius: 8px;
      }
    }
  }
  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;  
    
    .product-modal {
      margin: 15px auto;
      display: block;
      width: 100%;
      max-width: 550px;
      background-color: var(--text-icons-color);
      border-radius: 16px;
      padding: 16px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       
      .input-wrapper {

        label {
          font-size: 16px;
          font-weight: bold;
        }
        
        input {
          padding: 8px;
          width: 100%;
          border-radius: 4px;
          border: 1px solid var(--primary-text-color);
          margin-bottom: 10px;
          font-size: 16px;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
      }

      .form-btn {
        border: none;
        padding: 16px 32px;
        width: 150px;        
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        color: var(--text-icons-color);
        margin: 15px 5px;
        cursor: pointer;
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);
      }
      
      .cancel-btn {
        text-decoration: none;
        border: 2px solid var(--primary-color);
        background-color: var(--text-icons-color);
        color: var(--primary-color);
        opacity: 0.8;
        transition: opacity 50ms ease-in-out ;

        &:hover {
          opacity: 1;
        }
      }

    }
  }
    
  .add-product-btn {
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--text-icons-color);
    position: fixed;
    font-size: 2rem;
    width: 50px;
    height: 50px;  
    border-radius: 50%;
    overflow: hidden;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
  }

  &:hover {
    opacity: 0.8;
  }
}